
#myDIV {
height:300px;
background-color:#FFFFFF;
align-items: center;
}

#myImg { 
filter: invert(100%);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 14px solid rgb(42, 214, 57);
    border-radius: 15px 50px 30px;
  }