
#myDIV {
    height:300px;
    background-color:#FFFFFF;
    align-items: center;
}

#myImg { 
    filter: invert(100%);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 14px solid rgb(42, 214, 57);
    border-radius: 15px 50px 30px;
}
footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 3px;
    background-color: rgb(104, 23, 84);
    color: rgb(12, 214, 96);
    font-weight: bold; 
    max-width: 100%;
}
    
    h1 {
        text-align: center;
    }