/*=======================
    GENERIC STYLES
=========================*/
html {
    font-family: sans-serif;
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-size: 14px;s
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
    color: #333;
    background-color: rgb(15, 14, 11);
}

footer, 
nav {
    display: block;
}

h1, h2, h3, h4, h5, h5 {
    font-family: "Open Sans", sans-serif;
}

h1 {
    line-height: 50px;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #6e5eff;
    text-shadow: 5px 2px 3px rgba(0, 0, 0, 0.5);
}

h1::after { /* This is the underline*/
display: block;
content: "";
height: 2px;
width: 150px;
background: #6e5eff;
margin: 5px auto 40px;
box-shadow: 5px 2px 3px rgba(0, 0, 0, 0.5)
}

h2 {
    line-height: 50px;
    color: #E91C1C;

}

h3 {
    line-height: 30px;
    padding-bottom: 20px;
}

h4 {
    padding-top: 25px;
    line-height: 40px;
    padding-bottom: 0px;
    font-size: 22px;
    font-weight: 900;
}

p {
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 15px;
}

.text-center {
    text-align: center;
}

.heading-padding {
    padding-bottom: 40px;
}

section {
    padding-top: 50px;
    margin-top: 50px;
}

.navbar {
    height: 105px;
    max-height: 340px;
    display: block;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.clearfix:after,
.container:after,
.navbar:after {
    clear: both;
    display: table;
    content: " ";
}

.wrap {
    height: 100%;
    width: 100%;
    position: absolute;
    /*This ensures that the image cannot
    render outside of their container
    without forcing any scrollbars*/
    overflow: hidden;
    top: 0;
    left: 0;
    text-align: center;
}

.menu-container {
    max-height: 340px;
    margin: 0% auto;
    content: " ";
    /* top: 0;
    left: 0; */
    /* position absolute; */ /* to the top edge of the screen */
    width: 100%;
    position: fixed;
    z-index: 100;
    /*background-color rgba(255, 255, 255, 0.5);*/
}

/*======================================
    HOME SECTION STYLES
========================================*/
#home {
    background: url(../Images/planets.jpg) no-repeat 50% 50%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding-top: 350px; /* This is the space before the main title Logo */
    padding-bottom: 500px;/* This is spacer after the Main title Logo */
    color: rgb(0, 0, 0);
}

.head-main {
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
    font-variant: small-caps;
    color: rgb(224, 223, 203);
    letter-spacing: 5pt;
    word-spacing: 21pt;
    font-size: 4.5cm;
    text-align: left;
    font-family: impact, sans-serif;
    line-height: 2;
    font-weight: 900;
    border: 5px double rgb(255, 255, 255);
    padding: 10px;
}

.head-sub-main {
    font-size: 23px;
    font-weight: 500;
    padding: 50px 20px 10px 20px;
    text-transform: uppercase;
}

.head-last {
    font-weight: 10px;
    font-weight: 900;
    padding: 5px 20px 20px 20px;
    border: 1px dotted #fff;
    padding: 5px;
}

/*================================
    Contact STYLES
==================================*/
.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 8px;
    margin: 0px auto;
    background-color: rgba(48, 0, 53, 0.5);
}

#contact {
    background-color: rgba(150, 150, 150, 0.178);
}

.reservation {
    width: 60%;
    padding: 10px;
    border-radius: 8px;
    margin: 0px auto;
    background-color: rgba(104, 42, 42, 0.3);
    box-shadow: -1px -1px 1px 0 rgba(97, 17, 202, 0.418), 1px 2px 10px 0 regba(0, 0, 0, 0.5);
}

.reservation h2 {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: #939aa5;
    font-weight: 500;
    font-size: 1.3cm;
    letter-spacing: 0pt;
    word-spacing: 0pt;
}

.reservation h2 span {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: #b9cff5;
    font-weight: 900;
    font-size: 1.5cm;
    font-variant: small-caps;
    letter-spacing: .4pt;
    word-spacing: .3pt;
}

.reservation p {
    color: #c2b0cc;
    width: 50%;
    margin: 0 auto;
}

.reservation form {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #8D8E8F;
    padding: 12px 12px;
    width: 70%;
    border: 1px solid #808080;
    margin: 2% auto;
    border-radius: 7px;
    background: rgb(130, 113, 161);
    box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.3);
    font-family: 'Raleway' sans-serif;
}

.reservation input[type="text"] {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #8D8E8F;
    padding: 2% 1% 2% 7%;
    width: 80%;
    border-top: 1px solid #090B0D;
    border-right: 2px solid #424549;
    border-bottom: 2px solid #424549;
    border-left: 1px solid #090B0D;
    margin: 10px 1cm;
    border-radius: 7px;
    background: #130449;
    box-shadow: inset 0px 3px 0px 0px rgba(5, 5, 5, 0.15);
    font-family: 'Raleway', sans-serif;
}

.reservation input[type="text"]:hover {
    box-shaddow: 0 0 18px rgba(100, 65, 0, .8);
}

.form-spacer {
    padding: 30px 39px;
}

.terms {
    margin-top: 78%;
    margin: 30px 30px 0 0 ;
    padding-left: 52px;
    font-size: 20px;
    line-height: 5px;
    color: #000;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    position: relative;
    display: inline;
    float: right;
}

.terms:hover {
   color: rgb(37, 15, 133);
   text-decoration: underline; 
}

.submit input[type="submit"] {
    color: rgb(82, 1, 82);
    cursor: pointer;
    border: none;
    font-weight: 900;
    outline: none;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: 0px 3%;
    padding: 7px 0px;
    width: 25%;
    font-size: 16px;
    border-color:  0.3s color 0.3s background-color 0.3s;
    border: 15px;
    background-color: #797a7b;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
}

.submit input[type="submit"]:hover {
    color: #000;
    background-color: #8D8E8F;
    box-shadow: inset 1px 2px 15px 0 rgba(0, 0, 0, 0.5);
}

/*=====================================
    FOOTER STYLES
=======================================*/
#footer {
    background-color: rgba(0, 100, 78, 0.3);
    color: rgb(64, 0, 77);
    text-shadow: 2px 2px 8px 0 (0, 0, 0, 0.4);
    padding: 20px 50px 20px 50px;
    text-align: right;
}

